/**
 * 960px solid layout
 */

a:link {
	color: #222;
}

a:visited {
	color: #222;
}

a:hover {
	text-decoration: none;
}

cite {
	font-style: normal;
}

hr {
	clear: both;
	border: none;
	background: transparent;
	height: 1px;
}

img {
	border: none;
}

svg {
	max-width: 100%;
}

pre {
	font-family: 'Osaka Mono', 'Monaco', 'Lucida Cosole', 'Consolas', monospace;
	font-size: 75%;
	overflow: auto;
	line-height: 1.33;
	background: rgba(255, 255, 255, 0.7) !important;
	border-style: solid;
	border-width: 0 0 0 3px;
	border-color: #efefef;
}

q {
	color: #999;
}

p {
	margin: 1em 0;
}

ul {
	padding: 0 0 0 1.5em;
	margin: 1em 0;
}

ul li {
	padding: 0;
}

ul ul {
	margin: 0;
}

pre .identifier {
}

pre .string {
	color: #E98800;
}

pre .keyword {
	color: #A39E64;
}

pre .keyword\.operator {
	color: #A39E64;
}

pre .constant\.numeric,
pre .constant {
	color: #E98800;
}

pre .numeric {
	color: #E98800;
}

pre .support\.function,
pre .function {
	color: #588E60;
}

pre .comment {
	color: #666C68;
}

pre .variable {
	color: #648BD2;
}

pre .entity\.other\.attribute-name {
	color: #648BD2;
}

pre .meta\.tag {
	color: #588E60;
}

input ,
textarea {
	background: #fff;
	color: #333;
	border: 1px solid #2f3839;
	padding: 2px;
}

a.keyword {
	color: inherit;
	text-decoration: none;
}

ins {
	display: block;
	text-decoration: none;
	padding: 10px 0 10px 10px;
	margin: 1em 0;
	border-style: solid;
	border-width: 0 0 0 3px;
	border-color: #efefef;
}

ins:before {
	display: block;
	content: "追記";
	color: #333;
	font-size: 90%;
}

ins.adsbygoogle ,
ins.adsbygoogle ins {
	padding: 0;
	margin: 0;
	border-style: none;
}

ins.adsbygoogle:before ,
ins.adsbygoogle ins:before {
	display: none;
}

del {
	display: block;
	color: #999;
	font-size: 50%;
	line-height: 1.5;
}

blockquote {
	padding: 0 0 0 1em;
	margin: 1em 0;
}

table {
	width: 960px;
	margin: 20px 0;
	background: #fff;
	border-collapse: collapse;
	border-spacing: 0;
}

table th,
table td {
	border: 1px solid #ddd;
	padding: 10px;
}

nav,
header,
footer,
figure,
figcaption,
section,
article {
	display: block;
}

figure {
	margin: 1em 0 1em 1em;
}

figcaption {
	font-size: 90%;
}

figure.quote figcaption {
	text-align: right;
}

article section h1 {
	font-size: 115%;
	font-weight: bold;
	color: #333;
	margin: 3em 0 0em;
}

html {
	background: #fafafa;
	color: #4f5759;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	font-size: 16px;
	width: 960px;
	margin: 0 auto;
	padding: 0 0 0 20px;
	line-height: 1.9;
	background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 78%, #EFEFEF 78%, #EFEFEF 78.1%, #FFFFFF 78.1%, #FFFFFF 100%);
    font-family: 'Myriad Pro', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
}

body > * {
	text-align: left;
}

#global-header {
	font-family: 'Merriweather', serif;
	display: block;
	position: relative;
	margin: 0;
	padding: 2em 0;
	position: absolute;
	background: #fff;
}

#global-header h1 {
	text-align: center;
	padding: 32px 32px 10px;
	margin: -32px 0 0 0;
	color: #fff;
	background: #000;
	font-size: 100%;
	font-weight: 400;
}

#global-header h1 a {
	display: block;
	padding: 5px 0;
}

#global-header h1 a:link ,
#global-header h1 a:visited ,
#global-header h1 a:hover {
	font-family: serif;
	text-decoration: none;
	color: #fff;
}

#global-header h1 small {
	position: relative;
	top: -1.5em;
	color: #999;
	font-size: 50%;
}

#global-header #search-form {
	position: absolute;
	top: 20px;
	right: 40px;
}

#global-navigation {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 3em 0;
	background: #fff;
}

#global-navigation ul {
	font-size: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

#global-navigation ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#global-navigation ul li a {
	display: inline-block;
	padding: 5px 0;
	width: 100px;
	text-align: center;
}

#global-navigation ul li a:link ,
#global-navigation ul li a:visited ,
#global-navigation ul li a:hover {
	color: #111;
	text-decoration: none;
}

#global-navigation ul li a:hover {
	border: none;
}

#content {
	width: 728px;
	padding: 20px 0 0 0;
}

.pager {
	font-size: 11px;
	margin: 20px 0px 20px;
}

.pager a:link ,
.pager a:visited ,
.pager a:hover {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	width: 12em;
	background: #333;
	text-decoration: none;
	color: #fff;
}

#category-header {
	margin: 20px 0;
	padding: 0;
}

#category-header {
	font-family: 'Merriweather', serif;
}

#category-header h1 ,
#category-header h2 {
	display: inline;
	font-size: 100%;
	font-weight: normal;
}

#category-header h2 {
	padding: 0 0.5em;
	color: #666;
}

.entries {
	margin: 0 0 3em 0;
	padding: 0px 30px;
	_padding: 30px 30px;
}

.entries article {
	clear: both;
	padding: 1em 0;
	margin: 0 0 10em 0;
}

.entries .date {
	display: block;
	clear: both;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 80%;
	margin: 0 0 0 -30px;
	text-align: left;
	padding: 3px 0;
	width: 930px;
	color: #666;
}

.entries .date a {
	color: inherit;
	text-decoration: none;
}

.entries article {
	position: relative;
}

.entries article header {
	margin: 0 0 0 -30px;
}

.entries article header h1 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	width: 960px;
	/*
	height: 30px;
	line-height: 30px;
	*/
	line-height: 1.33;
	text-align: left;
	padding: 20px 0 5px;
	margin: 0;
	font-size: 140%;
	color: #111;
	background: rgba(255, 255, 255, 0.7);
}

/*
.entries article header h1:before {
	display: block;
	height: 2px;
	width: 30px;
	position: relative;
	content: "";
	background: #999;
	left: -50px;
	top: 15px;
}
	*/

.entries article header h1 a {
	text-decoration: none;
}

.entries article header .metadata {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	text-align: left;
	padding: 3px 0;
	margin: 0;
	font-size: 80%;
	color: #999;
}

.entries article header .metadata time {
	display: inline-block;
	height: 32px;
}


.entries article header .metadata .hatena-star-star-container {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 10px;
	position: relative;
	top: -2px;
}

.entries article header .metadata a {
	text-decoration: none;
}

.entries article header .share {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	opacity: 0.3;
}

.entries article header .share:hover {
	opacity: 0.9;
}

.entries article header .share a {
	display: inline-block;
	width: 100px;
	height: 16px;
	overflow: hidden;
	background: url('/images/share-on-tumblr.png') top left no-repeat transparent;
	text-indent: -9999px;
}

.entries article header .metadata .author {
	display: none;
}

.entries article .content {
	margin: 0 -30px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.entries article .content h1 ,
.entries article .content h2 ,
.entries article .content h3 ,
.entries article .content h4 ,
.entries article .content h5 ,
.entries article .content h6 {
	color: #333;
}

.entries article .content a.seemore:link {
	text-decoration: underline;
}

.entries article .content a.seemore:visited {
	text-decoration: underline;
}

.entries article .content a.seemore:hover {
	text-decoration: none;
}

.entries article pre.code {
	width: 897px;
	border-width: 0 0 0 3px;
	margin: 1em 0;
	padding: 20px 20px;
}

.entries article div.gist {
	font-size: 75%;
	width: 960px;
	margin: 20px 0;
	padding: 0;
	line-height: 1.33;
}

.entries article a.hatena-fotolife ,
.entries article a.picasa ,
.entries article p.photo {
	display: block;
	margin: 0;
	width: 960px;
	border: none;
	background: #fff;
}

.entries article a.hatena-fotolife img ,
.entries article a.picasa img {
	display: block;
	max-width: 960px;
	max-height: 700px;
	margin: 1em auto;
	border-width: 20px 30px;
	border-style: none;
	border-color: #000;
}

.entries article.photo {
	padding-bottom: 0;
}

.entries article.photo .metadata {
}

.entries article footer {
}

.entries article footer .social-buttons {
	width: 960px;
	padding: 0 0;
	margin: 0 -30px;
	text-align: left;
}

.entries article footer .social-buttons .button {
	display: inline-block;
}

.entries article footer .social-buttons iframe ,
.entries article footer .social-buttons img {
	vertical-align: middle;
}

.entries article footer .social-buttons .google-plus {
	position: relative;
	top: -2px;
}

.amazon {
	margin: 0;
	padding: 0;
}

.amazon .image {
	float: left;
	margin: 0 1em 0 0;
}

.amazon .detail {
}

.amazon:after {
	display: block;
	clear: left;
	content: "";
}

figure.http {
	margin: 0;
	padding: 0;
}

figure.http .image {
	float: left;
	margin: 0 1em 0 0;
}

figure.http .image img {
	max-width: 128px;
	max-height: 128px;
}

figure.http .detail {
	color: #666;
}

figure.http:after {
	display: block;
	clear: left;
	content: "";
}

#global-footer {
	margin: 0;
	padding: 0 30px 30px 30px;
	width: 642px;
	font-size: 80%;
	text-align: center;
}

#global-footer p {
	text-align: center;
}

#global-footer img {
	border: none;
}

#global-footer .message {
	color: #666;
}

.ad {
	background: #000;
	padding: 5px 30px;
	margin: 0 0 5px 0;
}

.ad ins {
	background: none;
}

.as ins:before {
	content: "";
}

#archive {
	padding: 2em 20px 2em 0;
}

#archive .year {
	margin: 0;
	padding: 2em 0;
	clear: both;
}

#archive .year h1 {
	font-weight: bold;
	font-size: 100%;
	padding: 0;
	margin: 0;
}

#archive .year .months {
	display: block;
	margin: 0;
	padding: 0;
}

#archive .year .months .month {
	display: block;
	float: left;
	width: 8.33333333%;
	margin: 0;
	padding: 0;
}

#archive .year .months .month a {
	display: block;
	text-align: center;
	padding: 0.5em 0;
	color: #333;
}

#archive .year .months .month a:link {
	background: #efefef;
}

#archive .year .months .month:nth-child(even) a:link {
	background: #e0e0e0;
}

#archive .year .months .month a:link ,
#archive .year .months .month a:visited {
	text-decoration: none;
}

#archive .year .months .month a:link:hover {
	color: #fff;
	background: #000 !important;
}

.adsense {
	width: 960px;
	text-align: left;
	margin: 0 -30px;
	padding: 0;
}

.adsense ins {
	background: none;
	padding: 0;
	margin: 0;
}

.adsense ins:before {
	content: "";
}

@media only screen and (max-width : 980px) {
	body {
		width: 100%;
		padding: 0;
		margin: 0;
		font-size: 13pt;
		background: #fff;
	}

	#global-header {
		padding: 0;
		margin: 0;
		position: static;
	}

	#global-header h1 {
		margin: 0;
		padding: 0;
	}

	#global-header h1 a {
		left: 0px;
	}

	#global-header #search-form {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#global-navigation {
		position: static;
		width: 100%;
		margin: 0;
		padding: 5px 0;
		background: #ccc;
	}

	#global-navigation ul {
		text-align: center;
	}

	#content {
		width: 100%;
		margin: 0;
		overflow: hidden;
	}

	.entries {
		margin: 0;
		padding: 0;
	}


	.entries .date {
		width: 100%;
		padding: 3px 12px;
		margin-left: 0;
	}

	.entries article header ,
	.entries article .content {
		margin-left: 0;
	}

	.entries article header h1, 
	.entries article header .metadata {
		display: block;
		width: 100%;
		margin: auto;
		padding: 0;
		position: relative;
	}

	.entries article.current header {
		padding: 5px
	}

	.entries article {
		padding: 5px 10px;
	}

	.entries article .content {
		margin: 0;
	}

	.entries article pre.code {
		margin: 0 -10px;
	}

	.entries article pre.code {
		width: 100%;
		margin: 20px 0;
		padding: 20px 10px;
	}

	.entries article div.gist {
		font-size: 75%;
		width: 100%;
		margin: 20px 0;
		padding: 0;
		line-height: 1.33;
	}

	.entries article a.hatena-fotolife ,
	.entries article a.picasa ,
	.entries article p.photo {
		display: block;
		border: none;
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.entries article a.hatena-fotolife img ,
	.entries article a.picasa img {
		max-width: 100%;
		max-height: 500px;
		border-width: 10px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

	#global-footer {
		margin: 0;
		padding: 10px 0;
		width: 100%;
	}

	.pager {
		margin: 0;
		padding: 10px;
	}

	.pager a:link ,
	.pager a:visited ,
	.pager a:hover {
		display: inline-block;
		padding: 10px 0;
		text-align: center;
		width: 100%;
		margin: 5px 0;
		background: #333;
		text-decoration: none;
		color: #fff;
	}

	.entries article .adsense ,
	.adsense {
		width: 320px;
		text-align: center;
		padding: 0;
		margin: 1em auto;
		overflow: hidden;
	}

	.adsense iframe {
		margin: auto;
	}

	.mjx-chtml {
		overflow: auto;
		max-width: 100%;
		padding: 0.5em 0;
	}
}
