<div class="adsense">
[% IF r.is_smartphone %]
	<!-- script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script -->
	<!-- 汎用スマフォ -->
	<ins class="adsbygoogle"
		 style="display:inline-block;width:320px;height:50px"
		 data-ad-client="ca-pub-4629424540171624"
		 data-ad-slot="7984955760"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
[% ELSE %]
	<!-- script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script -->
	<!-- lowreal.net -->
	<ins class="adsbygoogle"
		 style="display:inline-block;width:728px;height:90px"
		 data-ad-client="ca-pub-4629424540171624"
		 data-ad-slot="2606789716"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
[% END %]
</div>
