<div class="adsense">
[% IF r.is_smartphone %]
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-4629424540171624";
	/* 汎用スマフォ */
	google_ad_slot = "7984955760";
	google_ad_width = 320;
	google_ad_height = 50;
	//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
[% ELSE %]
	<script type="text/javascript">
	<!--
	google_ad_client = "ca-pub-4629424540171624";
	/* lowreal.net */
	google_ad_slot = "2606789716";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
[% END %]
</div>
