
<div class="af">
	<div class="notice">広告</div>
	<div>
		<a href="https://px.a8.net/svt/ejp?a8mat=2NZF3B+AF33W2+D8Y+BZVUA" target="_blank">さくらのVPS 2G</a>
		<img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=2NZF3B+AF33W2+D8Y+BZVUA" alt="">
		<br/>
		このサイトはさくらのVPSで運用しています
	</div>

	<div>
		<a href="https://px.a8.net/svt/ejp?a8mat=2NZEBC+65H9TE+1JUK+HX5B6" target="_blank">バリュードメイン→「.JP」ドメイン新規登録料金2,840円（3,067円）</a>
		<img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2NZEBC+65H9TE+1JUK+HX5B6" alt="">
		<br/>
		このドメインの運用はバリュードメインで行っています
	</div>

	<div>
		<a href="https://px.a8.net/svt/ejp?a8mat=2NZF3B+DCGTYQ+3NMM+BZ8OY" target="_blank">最低利用期間なし！解約手数料なし！【エキサイト光】</a>
		<img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2NZF3B+DCGTYQ+3NMM+BZ8OY" alt="">
		<br/>
		自宅回線のプロバイダとして使っています
	</div>
</div>
