[% entry_uri = r.absolute('/' _ entry.path) %]
<article
	id="post-[% entry.created_at.epoch %]"
	class="[% entry.tags.join(' ') %] [% IF is_first %]first[% END %]"
	data-id="[% entry.id %]"
	[% UNLESS permalink %]
	itemprop="blogPosts"
	itemscope itemtype="http://schema.org/BlogPosting"
	[% END %]
	>
	<header>
		<h1 itemprop="name"><a href="/[% entry.path %]" class="bookmark" rel="bookmark" itemprop="url">[% entry.title || '✖' %]</a></h1>
		<span class="metadata">

			[% FOR tag IN entry.tags %]
			<a href="/[% tag %]/"><span itemprop="keywords">[% tag %]</span></a>
			[% END %]
			|
			<time data-epoch="[% entry.created_at.epoch %]" datetime="[% entry.created_at.strftime('%Y-%m-%d') _ 'T' _ entry.created_at.strftime('%H:%M:%S') %]Z" pubdate itemprop="datePublished">
				[% entry.created_at.offset(9).strftime('%H:%M') %]
			</time>
			[% IF entry.created_at != entry.modified_at %]
			<!--
			|
			<time datetime="[% entry.modified_at.strftime('%Y-%m-%d') _ 'T' _ entry.modified_at.strftime('%H:%M:%S') %]Z">[% entry.modified_at.offset(9) %]</time>
			-->
			[% END %]
			|
			[% IF r.has_auth %]
			<a href="javascript:void(0)" class="nogag-edit">編集</a>
			[% END %]

			<div style="display: none">
				<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="/[% entry.path %]"/>
				<span itemprop="headline">[% entry.summary(100) %]</span>

				<span itemprop="author" itemscope itemtype="https://schema.org/Person">
					<a href="http://www.lowreal.net/" itemprop="url">
						<span itemprop="name">cho45</span>
					</a>
				</span>

				<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
					<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
						<meta itemprop="url" content="//www.lowreal.net/images/logo.png">
						<meta itemprop="width" content="189">
						<meta itemprop="height" content="105">
					</div>
					<meta itemprop="name" content="cho45">
				</span>

				<meta itemprop="datePublished" content="[% entry.created_at.strftime('%Y-%m-%d') _ 'T' _ entry.created_at.strftime('%H:%M:%S') %]Z"/>
				<meta itemprop="dateModified" content="[% entry.modified_at.strftime('%Y-%m-%d') _ 'T' _ entry.modified_at.strftime('%H:%M:%S') %]Z"/>

				[% IF entry.image %]
				<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="[% entry.image %]">
					<meta itemprop="width" content="800">
					<meta itemprop="height" content="800">
				</div>
				[% END %]
			</div>
		</span>
	</header>

	[% IF adsense && !entry.has_tag('photo') %]
	[% INCLUDE "_adsense.html" %]
	[% END %]

	<div class="content" itemprop="articleBody">
		[% entry.formatted_body(permalink) | raw %]
	</div>

	<div class="social">
		[% canonical = r.absolute('/' _ entry.path) %]
		<span class="hatena-star"></span>
		<p class="share-buttons">
			<a class="share-button" style="background: #3b5998" target="_blank"
				href="https://www.facebook.com/sharer/sharer.php?u=[% canonical | uri %]"
				onclick="ga('send', 'social', 'Facebook', 'Share', '[% canonical %]')"
				>
				<img src="/images/sharebuttons/FB-f-Logo__white_50.png" width="18" height="18" alt="Facebook"/>
			</a>
			<a class="share-button" style="background: #55acee" target="_blank"
				href="https://twitter.com/share?url=[% canonical | uri %]"
				onclick="ga('send', 'social', 'Twitter', 'Share', '[% canonical %]')"
				>
				<img src="/images/sharebuttons/Twitter_logo_white_48.png" width="24" height="24" alt="Twitter"/>
			</a>
			<a class="share-button" style="box-shadow: none" target="_blank"
				href="https://plus.google.com/share?url=[% canonical | uri %]"
				onclick="ga('send', 'social', 'Google', 'Share', '[% canonical %]')"
				>
				<img src="/images/sharebuttons/g+138.png" width="45" height="45" alt="Share on Google+"/>
			</a>
			<a class="share-button" style="" target="_blank"
				href="http://line.me/R/msg/text/?[% entry.title _ "\n" _ canonical | uri %]"
				onclick="ga('send', 'social', 'LINE', 'Share', '[% canonical %]')"
				>
				<img src="/images/sharebuttons/linebutton_40x40_en.png" width="40" height="40" alt="LINE it!"/>
			</a>
		</p>
	</div>

	[% IF permalink %]
	<div class="adsense">
		<!-- script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script -->
		<!-- 関連コンテンツ -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-4629424540171624"
			 data-ad-slot="2513927769"
			 data-ad-format="autorelaxed"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>

	[% INCLUDE "_adsense.html" %]

	[% END %]
</article>
