[% entry_uri = r.absolute('/' _ entry.path) %]
<article
	id="post-[% entry.created_at.epoch %]"
	class="[% entry.tags.join(' ') %] [% IF is_first %]first[% END %]"
	data-id="[% entry.id %]"
	[% UNLESS permalink %]
	itemprop="blogPosts"
	itemscope itemtype="http://schema.org/BlogPosting"
	[% END %]
	>
	<header>
		<h1 itemprop="name"><a href="/[% entry.path %]" class="bookmark" rel="bookmark" itemprop="url">[% entry.title || '✖' %]</a></h1>
		<span class="metadata">
			[% IF entry.image %]
			<meta itemprop="image" content="[% entry.image %]"/>
			[% END %]

			[% FOR tag IN entry.tags %]
			<a href="/[% tag %]/"><span itemprop="keywords">[% tag %]</span></a>
			[% END %]
			|
			<time data-epoch="[% entry.created_at.epoch %]" datetime="[% entry.created_at.strftime('%Y-%m-%d') _ 'T' _ entry.created_at.strftime('%H:%M:%S') %]Z" pubdate itemprop="datePublished">
				[% entry.created_at.offset(9).strftime('%H:%M') %]
			</time>
			[% IF entry.created_at != entry.modified_at %]
			<!--
			|
			<time datetime="[% entry.modified_at.strftime('%Y-%m-%d') _ 'T' _ entry.modified_at.strftime('%H:%M:%S') %]Z">[% entry.modified_at.offset(9) %]</time>
			-->
			[% END %]
			|
		</span>
		[% IF 0 %]
		<span class="share">
			[% IF entry.image %]
			<a href="http://www.tumblr.com/share/photo?source=[% entry.image | uri %]&caption=[% '餡の雲' | uri %]&clickthru=[% entry_uri | uri %]"
				title="Share on Tumblr">Share on Tumblr</a>
			[% ELSE %]
			<!--a href="http://www.tumblr.com/share/link?url=[% entry_uri | uri %]&name=[% entry.formatted_body_text | uri %]"
				title="Share on Tumblr">Share on Tumblr</a-->
			<a href="http://www.tumblr.com/share/quote?source=[% entry_uri | uri %]&quote=[% entry.formatted_body_text | uri %]"
				title="Share on Tumblr">Share on Tumblr</a>
			[% END %]
		</span>
		[% END %]
	</header>

	<div class="content" itemprop="articleBody">
		[% entry.formatted_body(permalink) | raw %]
	</div>

	[% IF permalink %]
	<footer>
		<div class="social-buttons">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="[%  entry_uri %]" data-text="[% entry.title %]" data-count="horizontal" data-via="cho45">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			<iframe src="http://www.facebook.com/plugins/like.php?href=[% entry_uri | uri %]&amp;layout=button_count&amp;show_faces=false&amp;width=70&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
			<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script><div class="g-plusone" data-size="medium"></div>
		</div>
	</footer>
	[% INCLUDE "_adsense.html" %]
	[% END %]
</article>
