[% entry_uri = r.absolute('/' _ entry.path) %]
<article
	id="post-[% entry.created_at.epoch %]"
	class="[% entry.tags.join(' ') %] [% IF is_first %]first[% END %]"
	data-id="[% entry.id %]"
	[% UNLESS permalink %]
	itemprop="blogPosts"
	itemscope itemtype="http://schema.org/BlogPosting"
	[% END %]
	>
	<header>
		<h1 itemprop="name"><a href="/[% entry.path %]" class="bookmark" rel="bookmark" itemprop="url">[% entry.title || '✖' %]</a></h1>
		<span class="metadata">
			[% IF entry.image %]
			<meta itemprop="image" content="[% entry.image %]"/>
			[% END %]

			[% FOR tag IN entry.tags %]
			<a href="/[% tag %]/"><span itemprop="keywords">[% tag %]</span></a>
			[% END %]
			|
			<time data-epoch="[% entry.created_at.epoch %]" datetime="[% entry.created_at.strftime('%Y-%m-%d') _ 'T' _ entry.created_at.strftime('%H:%M:%S') %]Z" pubdate itemprop="datePublished">
				[% entry.created_at.offset(9).strftime('%H:%M') %]
			</time>
			[% IF entry.created_at != entry.modified_at %]
			<!--
			|
			<time datetime="[% entry.modified_at.strftime('%Y-%m-%d') _ 'T' _ entry.modified_at.strftime('%H:%M:%S') %]Z">[% entry.modified_at.offset(9) %]</time>
			-->
			[% END %]
			|
		</span>
	</header>

	<div class="content" itemprop="articleBody">
		[% entry.formatted_body(permalink) | raw %]
	</div>

	[% IF permalink %]
	<footer>
		<div class="social-buttons">
			<!-- twitter -->
			<span class="button" style="width: 90px;">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="[%  entry_uri %]" data-text="[% entry.title %]" data-count="horizontal" data-via="cho45">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			</span>

			<!-- facebook -->
			<span class="button" style="width: 110px;">
			<iframe src="http://www.facebook.com/plugins/like.php?href=[% entry_uri | uri %]&amp;layout=button_count&amp;show_faces=false&amp;width=70&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
			</span>

			<!-- google plus -->
			<span class="button google-plus" style="width: 70px;">
			<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script><div class="g-plusone" data-size="medium"></div>
			</span>

			<!-- tumblr -->
			<span class="button" id="tumblr_button_abc123">
			[% IF entry.image %]
			<a href="http://www.tumblr.com/share/photo?source=[% entry.image | uri %]&amp;caption=[% entry.title | uri %]&amp;clickthru=[% entry_uri | uri %]"><img src="http://platform.tumblr.com/v1/share_1T.png" width="81" height="20" alt="Share on Tumblr"/></a>
			[% ELSE %]
			<a href="http://www.tumblr.com/share/quote?source=[% entry_uri | uri %]&quote=[% entry.formatted_body_text | uri %]"
				title="Share on Tumblr"><img src="http://platform.tumblr.com/v1/share_1T.png" width="81" height="20" alt="Share on Tumblr"/></a>
			[% END %]
			</span>
		</div>
	</footer>
	[% INCLUDE "_adsense.html" %]
	[% END %]
</article>
