[% IF similar_entries && similar_entries.size() %]
	<h3>関連エントリー</h3>
	[% FOR entry IN similar_entries %]
	<ul>
		<li>
			<a href="/[% entry.path %]">
				[% IF entry.title %]
				<b>[% entry.title %]</b> [% entry.data('score') %]<br/>
				[% END %]
				[% entry.summary(80) %]

				<time data-epoch="[% entry.created_at.epoch %]" datetime="[% entry.created_at.strftime('%Y-%m-%d') _ 'T' _ entry.created_at.strftime('%H:%M:%S') %]Z" itemprop="datePublished">
					[% entry.created_at.offset(9).strftime('%H:%M') %]
				</time>
			</a>
		</li>
	</ul>
	[% END %]
[% END %]

