[% IF similar_entries && similar_entries.size() %]
	<h3>関連エントリー</h3>
	[% FOR entry IN similar_entries %]
	<ul>
		<li data-id="[% entry.id %]">
			<a href="/[% entry.path %]" data-score="[% entry.data('score') %]">
				<b>[% entry.title || '✖' %]</b>
				<time data-epoch="[% entry.created_at.epoch %]" datetime="[% entry.created_at.strftime('%Y-%m-%d') _ 'T' _ entry.created_at.strftime('%H:%M:%S') %]Z" itemprop="datePublished">
					[% entry.created_at.offset(9).strftime('%H:%M') %]
				</time>
				<span class="summary">[% entry.summary(200) %]</span>

			</a>
		</li>
	</ul>
	[% END %]
[% END %]

