<article>
	<form class="edit-form" action="/api/edit" method="post">
		<header>
			<h1>
				<input type="text" name="title" value="[% entry.title %]"/>
			</h1>
		</header>
		<div class="content">
			<div class="toolbar">
				<button data-action="kousei">校正</button>
			</div>
			<p>
				<textarea name="body">[% entry.body %]</textarea>
			</p>
			<p>
				<input type="hidden" name="id" value="[% entry.id %]"/>
				<input type="hidden" name="sk" value="[% r.sk %]"/>
				<input type="hidden" name="location" value="[% r.req.param('location') %]"/>
				<input type="submit" value="公開"/>
			</p>
		</div>
	</form>
</article>
