[%- WRAPPER "_wrapper.html" WITH title = "" id="top" %]

<div class="hfeed">
[% FOR entry IN entries %]
<article class="hentry [% entry.tags.join(' ') %]">
	<h1><a href="/[% entry.path %]" class="bookmark" rel="bookmark">[% entry.title %]</a></h1>

	<div class="content">
		[% entry.formatted_body | raw %]
	</div>

	<footer>
		<time data-epoch="[% entry.created_at.epoch %]" datetime="[% entry.created_at.strftime('%Y-%m-%d') _ 'T' _ entry.created_at.strftime('%H:%M:%S') %]Z" pubdate>[% entry.created_at.offset(9) %]</time>
		[% IF entry.created_at != entry.modified_at %]
		<time datetime="[% entry.modified_at.strftime('%Y-%m-%d') _ 'T' _ entry.modified_at.strftime('%H:%M:%S') %]Z">[% entry.modified_at.offset(9) %]</time>
		[% END %]
	</footer>
</article>
[% END %]
</div>

[% count %] entries;
<div class="pager">
	<a href="?page=[% page + 1 %]">Next</a>
</div>

[% IF r.has_auth %]
[% ELSE %]
<a href="/login">login</a>
[% END %]

[%- END -%]
