<!DOCTYPE html>
<html
	data-auth="[% IF r.has_auth %]true[% END %]"
	itemscope itemtype="[% permalink ? 'http://schema.org/Article' : 'http://schema.org/Blog' %]"
	>
	<head>
		<title>[% title ? title _ " - " : "" %]餡の雲</title>
		[% IF r.req.uri.path == '/' %]
		<meta name="description" content="写真・文章による、ある普通の人間の人生の記録"/>
		[% END %]
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen,tv"/>
		<link rel="stylesheet" type="text/css" href="/css/print.css" media="print"/>
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>

		<meta itemprop="name" content="[% title ? title _ " - " : "" %]餡の雲"/>
		<meta itemprop="description" content=""/>
		[% IF entry.image %]
		<meta itemprop="image" content="[% entry.image %]"/>
		[% END %]

		<meta property="og:title" content="[% title ? title _ " - " : "" %]餡の雲"/>
		<meta property="og:type" content="[% permalink ? 'article' : 'blog' %]"/>
		<meta property="og:url" content="[% permalink ?  r.absolute('/' _ entry.path) : r.absolute('/') %]"/>
		[% IF entry.image %]
		<meta property="og:image" content="[% entry.image %]"/>
		[% END %]
		<meta property="og:email" content="cho45@lowreal.net" />
		<meta property="fb:admins" content="cho45" />

		<!--
		<rdf:RDF
			xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
			xmlns:dc="http://purl.org/dc/elements/1.1/"
			xmlns:foaf="http://xmlns.com/foaf/0.1/">

			<rdf:Description rdf:about="[% permalink ?  r.absolute('/' _ entry.path) : r.absolute('/') %]">
				<foaf:maker rdf:parseType="Resource">
					<foaf:holdsAccount>
						<foaf:OnlineAccount foaf:accountName="cho45">
							<foaf:accountServiceHomepage rdf:resource="http://www.hatena.ne.jp/"/>
						</foaf:OnlineAccount>
					</foaf:holdsAccount>
				</foaf:maker>
			</rdf:Description>
		</rdf:RDF>
		-->

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7079167-5']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header id="global-header">
			<h1 id="header"><a href="/">餡の雲</a></h1>
			[% IF r.has_auth %]
			<form action="/" method="GET" id="search-form">
				<p>
					<input type="text" name="query" placeholder="Search"/>
				</p>
			</form>
			[% END %]
		</header>

		<nav id="global-navigation">
			<ul>
				<li><a href="/">トップ</a></li>
				<li><a href="/archive">アーカイブ</a></li>
			</ul>
		</nav>

		<div id="content">
			[% IF category %]
			<header id="category-header">
				<h1>Category [% category %].</h1>
				[% SWITCH category %]
				[% CASE 'photo' %]
				<h2>Logs and expression by photographs / 写真による記録と表現</h2>
				[% END %]
			</header>
			[% END %]

			[% IF entries %]

			<div class="hfeed">
				[% num  = 0  %]
				[% date = '' %]
				[% FOR entry IN entries %]
				[% d = entry.date.strftime("%a, %b %e. %Y") %]
				[% is_first = (date != d) %]

				[% IF is_first %]
				[% IF date && !num %]
				[% num = 1 %]
				[% INCLUDE "_adsense.html" %]
				[% END %]

				[% date = d %]
				<div class="date"><a href="[% entry.date.strftime('/%Y/%m/%d/') %]">[% date %]</a></div>
				[% END %]

				[% INCLUDE "_article.html" WITH entry = entry %]

				[% ELSE %]

				<p>もうエントリはありません</p>

				[% END %]
			</div>

			<div class="pager">
				[% IF next_page %]
				<a href="[% next_page %]" rel="next">&#x25BC; もっと古いエントリ</a>
				[% END %]

				[% IF old_entry %]
				<a href="/[% old_entry.path %]" rel="next">&#x25C0; [% (old_entry.title || '古') | trim(14) %]</a>
				[% END %]

				[% IF entry %]
				<a href="/[% entry.date.strftime('%Y/%m/%d/') %]">&#x25B2; この日のエントリ</a>
				[% END %]

				[% IF new_entry %]
				<a href="/[% new_entry.path %]" rel="prev">[% (new_entry.title || '新') | trim(14) %] &#x25B6;</a>
				[% END %]
			</div>

			[% END # IF entries %]

			[% IF archive %]
			<section id="archive">
				[% FOR year IN archive %]
				<section class="year">
					<h1>[% year.year %]年</h1>
					<ol class="months">
						[% FOR month IN year.months %]
						[% IF month.count %]
						<li class="month"><a href="[% month.link %]" title="[% month.count %]">[% month.month %]月</a></li>
						[% ELSE %]
						<li class="month"><a>[% month.month %]月</a></li>
						[% END %]
						[% END %]
					</ol>
				</section>
				[% END %]
				<hr />
			</section>
			[% END # IF archive %]

			[% IF error %]
			<div class="hfeed">
				<article class="hentry">
					<header>
						<h1><a href="/">[% error.code %]: [% error.message %]</a></h1>
					</header>
					<div class="content">
						[% IF error.code == 404 %]
						<script type="text/javascript">
							var GOOG_FIXURL_LANG = 'ja';
							var GOOG_FIXURL_SITE = 'http://lowreal.net/'
						</script>
						<script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
						</script>
						[% ELSE %]
						<p>[% error.code %]: [% error.message %]</p>
						[% END %]
					</div>
				</article>
			</div>
			[% END # IF error %]
		</div>

		<footer id="global-footer">
			[% INCLUDE "_adsense.html" %]
			<p>
				[% count %]
			</p>
			<p>
				<a href="http://www.lowreal.net/"><img src="http://www.lowreal.net/images/lowreal.net-logo.png" alt="cho45@lowreal.net"/></a>
			</p>
		</footer>


		<script type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
		<script type="text/javascript">
			Hatena.Star.Token = '7743b0e60f0e3b267f9723d3a5cf96981a59e4f3';

			Hatena.Star.SiteConfig = {
				entryNodes: {
					'article.hentry': {
						uri: 'a.bookmark',
						title: 'h1',
						container: 'h1'
					}
				}
			};
		</script>
		<style type="text/css">
			.hatena-star-add-button-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20101127/20101127010806.gif');
			}

			.hatena-star-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20101127/20101127010252.gif');
			}

			.hatena-star-green-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20100115/20100115025631.gif');
			}

			.hatena-star-red-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20100115/20100115025800.gif');
			}

			.hatena-star-blue-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20100115/20100115025902.gif');
			}

			.hatena-star-comment-container {
				display: none;
			}

			.hatena-star-star-container {
				display: inline-block;
				vertical-align: middle;
				padding: 0 10px 5px 10px;
			}
		</style>

		<script src="//code.jquery.com/jquery-1.7.min.js"></script>

		<script src="/js/daterelative.js"></script>
		<script src="/js/nogag.js"></script>
		<script type="text/javascript">
			Nogag.init();
		</script>

		<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>

	</body>
</html>
