<!DOCTYPE html>
<html
	data-auth="[% IF r.has_auth %]true[% END %]"
	data-permalink="[% permalink %]"
	itemscope itemtype="[% permalink ? 'http://schema.org/BlogPosting' : 'http://schema.org/Blog' %]"
	>
	<head>
		<title>[% title ? title _ " - " : "" %]氾濫原 [HANRANGEN]</title>
		[% IF r.req.uri.path == '/' %]
		<meta name="description" content="写真・文章による、ある普通の人間の人生の記録"/>
		[% END %]
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes, target-densitydpi=high-dpi"/>
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
		<link rel="alternate" media="handheld" href="[% r.req.uri.path_query %]"/>
		<link rel="alternate" type="application/rss+xml" title="Feed" href="/feed"/>
		<meta name="msvalidate.01" content="DA27079A2B657040673E774AADD36151" />

		[% UNLESS permalink %]
		<meta itemprop="name" content="[% title ? title _ " - " : "" %][% r.config_param('sitename') %]"/>
		<meta itemprop="description" content="写真・文章による、ある普通の人間の人生の記録"/>
		[% END %]

		<meta property="og:title" content="[% title ? title _ " - " : "" %][% r.config_param('sitename') %]"/>
		<meta property="og:type" content="[% permalink ? 'article' : 'blog' %]"/>
		<meta property="og:url" content="[% permalink ?  r.absolute('/' _ entry.path) : r.absolute('/') %]"/>
		[% IF entry.image %]
		<meta property="og:image" content="[% entry.image %]"/>
		[% END %]
		<meta property="og:email" content="cho45@lowreal.net" />
		<meta property="fb:admins" content="cho45" />

		<meta name="twitter:card" content="[% entry.has_tag('photo') ? 'photo' : 'summary' %]"/>
		<meta name="twitter:url" content="[% permalink ?  r.absolute('/' _ entry.path) : r.absolute('/') %]"/>
		<meta name="twitter:title" content="[% r.config_param('sitename') %]"/>
		<meta name="twitter:description" content="[% entry.body | trim(140) || '写真・文章による、ある普通の人間の人生の記録' %]"/>
		[% IF entry.image %]
		<meta name="twitter:image" content="[% entry.image %]"/>
		[% ELSIF entries[0].image %]
		<meta name="twitter:image" content="[% entries[0].image %]"/>
		[% END %]
		<meta name="twitter:site" content="cho45"/>
		<meta name="twitter:creator" content="cho45"/>

		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:400,700,300"/>
		[% css = [
			"/css/style.css",
			"/css/print.css",
			"/css/colorbox.css",
		] %]
		[% IF r.config_param('static_shared') %]
		<link rel="stylesheet" type="text/css" href="/.shared.css:[% r.config_param('version') %]007:[% css.join(',') %]"/>
		[% ELSE %]
		[% FOR c IN css %] 
		<link rel="stylesheet" type="text/css" href="[% c %]"/>
		[% END %]
		[% END %]


		<!--
		<rdf:RDF
			xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
			xmlns:dc="http://purl.org/dc/elements/1.1/"
			xmlns:foaf="http://xmlns.com/foaf/0.1/">

			<rdf:Description rdf:about="[% permalink ?  r.absolute('/' _ entry.path) : r.absolute('/') %]">
				<foaf:maker rdf:parseType="Resource">
					<foaf:holdsAccount>
						<foaf:OnlineAccount foaf:accountName="cho45">
							<foaf:accountServiceHomepage rdf:resource="http://www.hatena.ne.jp/"/>
						</foaf:OnlineAccount>
					</foaf:holdsAccount>
				</foaf:maker>
			</rdf:Description>
		</rdf:RDF>
		-->

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<style type="text/css">
			.hatena-star-add-button-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20101127/20101127010806.gif');
			}

			.hatena-star-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20101127/20101127010252.gif');
			}

			.hatena-star-green-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20100115/20100115025631.gif');
			}

			.hatena-star-red-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20100115/20100115025800.gif');
			}

			.hatena-star-blue-star-image {
				background-image: url('http://img.f.hatena.ne.jp/images/fotolife/c/cho45/20100115/20100115025902.gif');
			}

			.hatena-star-comment-container {
				display: none;
			}

			.hatena-star-star-container {
				display: inline-block;
				vertical-align: middle;
				padding: 0 10px 5px 10px;
			}
		</style>

		<script type="text/javascript">
			window.google_analytics_uacct = "UA-7079167-5";
		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7079167-5']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header id="global-header">
			<h1 id="header"><a href="/">HANRANGEN</a></h1>
			[% IF r.has_auth %]
			<form action="/" method="GET" id="search-form">
				<p>
					<input type="text" name="query" placeholder="Search"/>
				</p>
			</form>
			[% END %]
		</header>

		<nav id="global-navigation">
			<ul>
				<li><a href="/">トップ</a></li>
				<li><a href="/archive">アーカイブ</a></li>
			</ul>
		</nav>

		<div id="content">
			[% IF category %]
			<header id="category-header">
				<h1>Category [% category %].</h1>
				[% SWITCH category %]
				[% CASE 'photo' %]
				<h2>Logs and expression by photographs / 写真による記録と表現</h2>
				[% END %]
			</header>
			[% END %]

			[% IF entries %]
			<div class="entries">
				[% num  = 0  %]
				[% date = '' %]
				[% FOR entry IN entries %]
				[% d = entry.date.strftime("%a, %b %e. %Y") %]
				[% is_first = (date != d) %]

				[% IF is_first %]
				[% IF date && !num %]
				[% num = 1 %]
				[% INCLUDE "_adsense.html" %]
				[% END %]

				[% date = d %]
				<div class="date"><a href="[% entry.date.strftime('/%Y/%m/%d/') %]">[% date %]</a></div>
				[% END %]

				[% INCLUDE "_article.html" WITH entry = entry %]

				[% ELSE %]

				<p>もうエントリはありません</p>

				[% END %]
			</div>

			[% IF permalink %]
			<div class="related" style="font-size:80%">
				<h2>最近のエントリ</h2>
				<ul>
				[% FOR entry IN related %]
				[% IF entry.summary %]
				[% LAST IF loop.count > 5 %]
					<li><a href="/[% entry.path %]" title="[% entry.title %]">→ [% entry.summary(80) %]</a></li>
				[% END %]
				[% END %]
				</ul>
			</div>
			[% END %]

			<div style="padding: 0 30px;">
				[% INCLUDE "_adsense.html" %]
			</div>

			<div class="pager">
				[% IF next_page %]
				<a href="[% next_page %]" rel="next">&#x25BC; もっと古いエントリ</a>
				[% END %]

				[% IF old_entry %]
				<a href="/[% old_entry.path %]" rel="next">&#x25C0; [% (old_entry.title || '古') | trim(14) %]</a>
				[% END %]

				[% IF entry %]
				<a href="/[% entry.date.strftime('%Y/%m/%d/') %]">&#x25B2; この日のエントリ</a>
				[% END %]

				[% IF new_entry %]
				<a href="/[% new_entry.path %]" rel="prev">[% (new_entry.title || '新') | trim(14) %] &#x25B6;</a>
				[% END %]
			</div>

			[% END # IF entries %]

			[% IF archive %]
			<section id="archive">
				[% FOR year IN archive %]
				<section class="year">
					<h1>[% year.year %]年</h1>
					<ol class="months">
						[% FOR month IN year.months %]
						[% IF month.count %]
						<li class="month"><a href="[% month.link %]" title="[% month.count %]">[% month.month %]月</a></li>
						[% ELSE %]
						<li class="month"><a>[% month.month %]月</a></li>
						[% END %]
						[% END %]
					</ol>
				</section>
				[% END %]
				<hr />
			</section>
			[% END # IF archive %]

			[% IF error %]
			<div class="entries">
				<article>
					<header>
						<h1><a href="/">[% error.code %]: [% error.message %]</a></h1>
					</header>
					<div class="content">
						[% IF error.code == 404 %]
						<script type="text/javascript">
							var GOOG_FIXURL_LANG = 'ja';
							var GOOG_FIXURL_SITE = 'http://lowreal.net/'
						</script>
						<script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
						</script>
						[% ELSE %]
						<p>[% error.code %]: [% error.message %]</p>
						[% END %]
					</div>
				</article>
			</div>
			[% END # IF error %]
		</div>

		[% IF test %][% INCLUDE 'test.html' %][% END %]

		<footer id="global-footer">
			<p>
				[% count %]
			</p>
			<p>
				<a href="http://www.lowreal.net/" rel="author"><img src="http://www.lowreal.net/images/lowreal.net-logo.png" alt="www.lowreal.net"/></a>
				<br />
				by <a href="mailto:cho45@lowreal.net">Satoh, Hiroh</a>
			</p>
			<a rel="me" href="https://plus.google.com/114431815111528304586?rel=author"><img src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16" alt="Google+"/></a>
		</footer>

		<script type="text/javascript" src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
		<script type="text/javascript">
			Hatena.Star.Token = '7743b0e60f0e3b267f9723d3a5cf96981a59e4f3';

			Hatena.Star.SiteConfig = {
				entryNodes: {
					'article': {
						uri: 'a.bookmark',
						title: 'h1',
						container: 'h1'
					}
				}
			};
		</script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

		[% js = [
			"/js/jquery.colorbox-min.js",
			"/js/jquery.deserialize.js",
			"/js/jsdeferred.js",
			"/js/keyString.js",
			"/js/daterelative.js",
			"/js/nogag.js",
		] %]

		[% IF r.config_param('static_shared') %]
		<script type="text/javascript" src="/.shared.js:[% r.config_param('version') %]009:[% js.join(',') %]"></script>
		[% ELSE %]
		[% FOR j IN js %] 
		<script type="text/javascript" src="[% j %]?[% r.config_param('version') %]"></script>
		[% END %]
		[% END %]

		[% IF r.has_auth %]
		<script src="http://www.google.com/jsapi"></script>
		<!-- HAS AUTH -->
		[% INCLUDE "_images.html" %]
		<script type="text/javascript" src="/js/editor.js?[% r.config_param('version') %]"></script>
		<!-- /HAS AUTH -->
		[% END %]

		<script type="text/javascript">
			Nogag.init();
		</script>

		<script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
	</body>
</html>
